astroid==2.11.6
dill==0.3.5.1
flake8==4.0.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
nodeenv==1.6.0
platformdirs==2.5.2
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.14.3
pyright==1.1.255
tomli==2.0.1
tomlkit==0.11.0
wrapt==1.14.1
